{
  "root": true,
  "parser": "@typescript-eslint/parser",
  "plugins": [
    "@typescript-eslint",
    "react"
  ],
  "extends": [
    "xo",
    "plugin:@typescript-eslint/recommended",
    "plugin:react/recommended"
  ],
  "rules": {
    "indent": [
      2,
      "tab",
      {
        "ignoredNodes": [
          "JSXElement",
          "JSXElement *"
        ]
      }
    ],
    "object-curly-spacing": [
      2,
      "always",
      {
        "arraysInObjects": false,
        "objectsInObjects": false
      }
    ],
    "operator-linebreak": [
      2,
      "after"
    ],
    "react/jsx-closing-bracket-location": [
      2,
      "props-aligned"
    ],
    "react/react-in-jsx-scope": [
      0
    ],
    "@typescript-eslint/explicit-module-boundary-types": 0,
    "@typescript-eslint/no-empty-interface": 0,
    "@typescript-eslint/no-var-requires": 0
  }
}
