.button {
	display: inline-block;
	width: 1rem;
	height: 1rem;
	padding: .75rem;
	border-radius: 100%;
	background: var(--color-button-bg);
	color: var(--color-button-text);
}

.button:hover {
	background: var(--color-button-hover-bg);
	color: var(--color-button-hover-text);
}
