:root {
	--color-background: var(--color-bg);
	--color-text: var(--color-brown-10);
	--color-title: var(--color-brown-30);
	--color-link: var(--color-green-40);
	--color-link-hover: var(--color-red-50);
	--color-accent: var(--color-brown-30);
	--color-button-bg: var(--color-green-40);
	--color-button-hover-bg: var(--color-green-30);
	--color-button-text: var(--color-green-90);
	--color-button-hover-text: var(--color-green-70);

	/* --color-black: hsl(0, 0%, 0%); */
	--color-white: hsl(0, 0%, 100%);
	--color-bg: hsl(60, 9%, 98%);

	/* --color-black-10: hsl(0, 0%, 10%); */
	/* --color-black-20: hsl(0, 0%, 20%); */
	/* --color-black-30: hsl(0, 0%, 30%); */
	/* --color-black-40: hsl(0, 0%, 40%); */
	/* --color-black-50: hsl(0, 0%, 50%); */
	/* --color-black-60: hsl(0, 0%, 60%); */
	/* --color-black-70: hsl(0, 0%, 70%); */
	/* --color-black-80: hsl(0, 0%, 80%); */
	/* --color-black-90: hsl(0, 0%, 90%); */

	/* --color-blue-10: hsl(207, 100%, 10%); */
	/* --color-blue-20: hsl(207, 100%, 20%); */
	/* --color-blue-30: hsl(207, 100%, 30%); */
	/* --color-blue-40: hsl(207, 100%, 35%); */
	/* --color-blue-50: hsl(207, 100%, 50%); */
	/* --color-blue-60: hsl(207, 100%, 60%); */
	/* --color-blue-70: hsl(207, 100%, 70%); */
	/* --color-blue-80: hsl(207, 100%, 80%); */
	/* --color-blue-90: hsl(207, 100%, 90%); */

	/* --color-red-10: hsl(4, 90%, 10%); */
	/* --color-red-20: hsl(4, 90%, 20%); */
	/* --color-red-30: hsl(4, 90%, 30%); */
	/* --color-red-40: hsl(4, 90%, 40%); */
	--color-red-50: hsl(4, 90%, 50%);
	/* --color-red-60: hsl(4, 90%, 60%); */
	/* --color-red-70: hsl(4, 90%, 70%); */
	/* --color-red-80: hsl(4, 90%, 80%); */
	/* --color-red-90: hsl(4, 90%, 90%); */

	/* --color-green-10: hsl(165, 20%, 10%); */
	/* --color-green-20: hsl(165, 20%, 20%); */
	--color-green-30: hsl(165, 20%, 30%);
	--color-green-40: hsl(165, 20%, 40%);
	/* --color-green-50: hsl(165, 20%, 50%); */
	/* --color-green-60: hsl(165, 20%, 60%); */
	--color-green-70: hsl(165, 20%, 70%);
	/* --color-green-80: hsl(165, 20%, 80%); */
	--color-green-90: hsl(165, 20%, 90%);

	--color-brown-10: hsl(345, 8%, 10%);
	--color-brown-20: hsl(345, 8%, 20%);
	--color-brown-30: hsl(345, 8%, 30%);
	--color-brown-40: hsl(345, 8%, 40%);
	--color-brown-50: hsl(345, 8%, 50%);
	--color-brown-60: hsl(345, 8%, 60%);
	--color-brown-70: hsl(345, 8%, 70%);
	--color-brown-80: hsl(345, 8%, 80%);
	--color-brown-90: hsl(345, 8%, 90%);
}
