:root {
	--color-black: hsl(0, 0%, 0%);
	--color-white: hsl(0, 0%, 100%);

	--color-black-900: hsl(0, 0%, 10%);
	--color-black-800: hsl(0, 0%, 20%);
	--color-black-700: hsl(0, 0%, 30%);
	--color-black-600: hsl(0, 0%, 40%);
	--color-black-500: hsl(0, 0%, 50%);
	--color-black-400: hsl(0, 0%, 60%);
	--color-black-300: hsl(0, 0%, 70%);
	--color-black-200: hsl(0, 0%, 80%);
	--color-black-100: hsl(0, 0%, 90%);

	--color-blue-900: hsl(240, 100%, 10%);
	--color-blue-800: hsl(240, 100%, 20%);
	--color-blue-700: hsl(240, 100%, 30%);
	--color-blue-600: hsl(240, 100%, 40%);
	--color-blue-500: hsl(240, 100%, 50%);
	--color-blue-400: hsl(240, 100%, 60%);
	--color-blue-300: hsl(240, 100%, 70%);
	--color-blue-200: hsl(240, 100%, 80%);
	--color-blue-100: hsl(240, 100%, 90%);

	--color-red-900: hsl(0, 100%, 10%);
	--color-red-800: hsl(0, 100%, 20%);
	--color-red-700: hsl(0, 100%, 30%);
	--color-red-600: hsl(0, 100%, 40%);
	--color-red-500: hsl(0, 100%, 50%);
	--color-red-400: hsl(0, 100%, 60%);
	--color-red-300: hsl(0, 100%, 70%);
	--color-red-200: hsl(0, 100%, 80%);
	--color-red-100: hsl(0, 100%, 90%);
}
